html {
  color: #000;
  overflow-y: scroll;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: "";
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
del,
ins {
  text-decoration: none;
}
body {
  font: 13px/1.231 arial, helvetica, clean, sans-serif;
}
select,
input,
button,
textarea {
  font: 99% arial, helvetica, clean, sans-serif;
}
table {
  font-size: inherit;
  font: 100%;
}
pre,
code,
kbd,
samp,
tt {
  font-family: monospace;
  line-height: 100%;
}
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}

/*PIXEL GAME*/
body {
  background: url(/assets/images/yameenArcadeCab.png) no-repeat center top
    #2b2d4b;
  height: 1568px;
}
#container {
  position: absolute;
  width: 800px;
  height: 600px;
  display: none;
  left: 50%;
  margin-left: -400px;
  top: 440px;
}

@font-face {
  font-family: "Sifters";
  src: url("/assets/fonts/arcade-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.hyphen {
  white-space: nowrap;
}
.checkmark {
  color: green;
  text-indent: -99999px;
  height: 10px;
  width: 10px;
  display: inline-block;
  background: url(/assets/images/checkmark.gif) no-repeat;
  margin-left: 3px;
  line-height: 10px;
}

#bootUp {
  position: absolute;
  left: 50%;
  margin-left: -399px;
  top: 440px;
}
#bootUp p {
  color: #fff;
  text-transform: uppercase;
  font-size: 200%;
}

#playground {
  width: 800px;
  height: 600px;
  overflow: hidden;
  position: relative;
}
#playground img.bg {
  width: 2200px;
  height: 2200px;
}
#rocky {
  width: 161px;
  height: 311px;
  top: 1793px;
  left: 1631px;
}
#amoeba {
  width: 304px;
  height: 383px;
  top: 1340px;
  left: 1440px;
}
#funkomart {
  width: 319px;
  height: 300px;
  top: 1454px;
  left: 509px;
}
#liberty {
  width: 176px;
  height: 304px;
  top: 1484px;
  left: 0;
}
#love {
  width: 216px;
  height: 268px;
  top: 728px;
  left: 960px;
}
#yameen-dj {
  width: 105px;
  height: 128px;
  left: 79px;
  top: 1804px;
}
#hiero {
  width: 128px;
  height: 128px;
  top: 1098px;
  left: 1431px;
}
#peach {
  width: 76px;
  height: 228px;
  top: 1092px;
  left: 380px;
}
#genos {
  width: 230px;
  height: 428px;
  top: 1432px;
  left: 976px;
}
#a0 {
  width: 385px;
  height: 824px;
  top: 0;
  left: 1206px;
}
.game-piece {
  background-color: yellow;
  opacity: 0.5;
  position: absolute;
}
#score {
  width: 405px;
  height: 103px;
  background: url(/assets/images/score-bg.png) no-repeat;
  position: absolute;
  top: 0;
  z-index: 4;
  display: none;
}
#score input.answers {
  width: 176px;
  padding-left: 5px;
  height: 19px;
  margin-top: 1px;
  line-height: 19px;
  background: url(/assets/images/input-bg.gif) no-repeat;
  border: none;
  font-size: 77%;
  color: #333;
  text-transform: uppercase;
}

#score input.submit {
  width: 57px;
  height: 20px;
  line-height: 20px;
  float: right;
}
#count {
  width: 98px;
  padding: 0 6px 0 17px;
  position: absolute;
  right: 0;
}

#count p {
  color: #ff0;
  line-height: 45px;
}
fieldset {
  width: 250px;
  padding: 12px 16px 0 18px;
}

a.answer {
  outline: none;
}
legend {
  display: none;
}
audio {
  margin-top: 20px;
}
#audio-player {
  position: absolute;
  z-index: 8;
  left: 5px;
  top: 5px;
  background: url(/assets/images/audioBg.png);
  padding: 5px;
  display: none;
}
#audio-player button {
  background: url(/assets/images/audioPlaySprite.png) no-repeat 0 -12px;
  width: 15px;
  height: 12px;
  text-indent: -999999px;
  display: block;
  border: none;
  outline: none;
}

#audio-player button:hover {
  cursor: pointer;
}

#how-to-play {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 15;
  display: flex;
  align-items: center;
}

.instructions {
  z-index: 16;
  background-color: #000;
  box-shadow: 15px 15px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
.instructions h3 {
  color: #fff;
  padding: 25px 0 15px 25px;
  font-family: "Sifters";
  font-size: 138.5%;
  color: #6acbf7;
  text-shadow: 2px 2px rgba(82, 50, 73, 0.9);
  word-spacing: -8px;
}
.instructions h4 {
  color: #f00;
  text-align: right;
  font-family: "Sifters";
  text-transform: uppercase;
  margin: 0 25px 25px 0;
  cursor: pointer;
  font-size: 100%;
  text-shadow: 2px 2px rgba(82, 50, 73, 0.9);
  font-size: 131%;
  word-spacing: -8px;
}
.instructions ul {
  padding: 0 25px 15px 25px;
}

.instructions-list {
  margin-left: 30px;
  line-height: 1.5;
}

.instructions li {
  color: #fff;
  font-size: 18px;
  list-style: decimal;
  margin: 0 0 15px 1em;
}
.instructions a {
  color: #0f0;
}
.instructions strong {
  font-weight: bold;
}

.instructions ul.bonus {
  border-top: solid 1px #fff;
  padding: 15px 0 0 0;
  margin: 0 25px;
}
.instructions ul.bonus li {
  list-style: none;
  font-style: normal;
  line-height: 12px;
}
.instructions span.bonus {
  width: 15px;
  height: 12px;
  text-indent: -99999px;
  display: inline-block;
  vertical-align: middle;
}
.instructions span.bonus1 {
  background: url(/assets/images/audioPlaySprite.png) no-repeat 0 0;
  margin: 0 3px;
}
.instructions span.bonus2 {
  background: url(/assets/images/hintsQuesSprite.png) no-repeat 1px 0;
}
li.option3,
span.noAudio {
  display: none;
}

.ok {
  position: absolute;
  width: 40px;
  height: 42px;
  display: none;
}

#credits {
  background: url(/assets/images/winnersDont.gif) no-repeat center top #66f;
  width: 800px;
  height: 600px;
  opacity: 0;
}
#credits ul {
  padding-top: 234px;
}
#credits li {
  font-family: "Sifters";
  color: #fff;
  font-size: 167%;
  text-align: center;
  word-spacing: -4px;
}
#credits li.last {
  margin-top: 30px;
}
#credits span {
  background: url(/assets/images/scanLine.png);
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

#amWin {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 800px;
  height: 600px;
  display: none;
  align-items: center;
  justify-content: center;
}

#amWin.isVisible {
  display: flex !important;
}

#finalScore {
  position: absolute;
  display: flex;
  flex-direction: column;
}
#finalScore h2 {
  width: 290px;
  height: 264px;
  background: url(/assets/images/yameen-am-winner.gif) no-repeat;
  text-indent: -99999px;
  margin: 0 auto 10px;
  transform: translateX(6px);
}
#finalScore h3 {
  font-family: "Sifters";
  color: #6acbf7;
  font-size: 167%;
  line-height: 1em;
  text-shadow: 2px 2px rgba(82, 50, 73, 0.9);
  text-transform: uppercase;
  margin-top: 20px;
  text-align: center;
}
#finalScore li {
  color: #fad200;
  text-align: center;
  font-size: 131%;
}
#finalScore p {
  color: #fff;
  text-align: center;
  margin-top: 2px;
}
#leaderboard h3 {
  margin-top: 0;
}
#share ul {
  float: left;
  position: relative;
  left: 50%;
}
#share li {
  float: left;
  position: relative;
  right: 50%;
  height: 20px;
}
#share li.twitter {
  margin: 0 15px 0 0;
}
#share p {
  margin-bottom: 8px;
}

.mixTitle {
  font-style: italic;
}
p.download {
  margin-bottom: 3px;
}
p.download a {
  color: #fff;
  font-weight: bold;
  font-family: "Sifters";
  font-size: 120%;
  word-spacing: -8px;
  display: block;
  margin-top: 7px;
  font-style: italic;
  outline: none;
}

.results {
  background-color: #000;
  box-shadow: 15px 15px rgba(0, 0, 0, 0.7);
  padding: 20px 50px;
}

#counter,
#displayCounter {
  display: none;
}

#mapKey {
  position: absolute;
  top: 32px;
  left: 5px;
  background: url(/assets/images/audioBg.png);
  padding: 5px;
  z-index: 8;
}
.mapKey {
  width: 15px;
  height: 12px;
  text-indent: -999999px;
  outline: none;
  display: block;
  background: url(/assets/images/hintsQuesSprite.png) no-repeat;
  border: none;
}

.mapKey:hover {
  cursor: pointer;
}

#showKey {
  background-position: 1px 0;
}
#hideKey {
  background-position: 1px -12px;
}
#mapLegend li.mapHead {
  padding-bottom: 5px;
  font-weight: bold;
}
.mapDark {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
}
#mapLegend ul {
  display: none;
  position: absolute;
  top: 0;
  left: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  z-index: 8;
}

.bootup {
  padding: 20px;
}
